{{define "content"}}
{{if .Email}}
  {{template "tabs" (dict "Aria" (t .Lang "nav.page_actions") "Items" (list (dict "Label" (t .Lang "page.read") "Href" .ReadHref) (dict "Label" (t .Lang "page.edit") "Href" .EditHref) (dict "Label" (t .Lang "page.history") "Current" true)))}}
{{else}}
  {{template "tabs" (dict "Aria" (t .Lang "nav.page_actions") "Items" (list (dict "Label" (t .Lang "page.read") "Href" .ReadHref) (dict "Label" (t .Lang "page.history") "Current" true)))}}
{{end}}
{{template "title" .Title}}
{{if .Revisions}}
<ul class="m-0 list-none p-0">
  {{range .Revisions}}
    {{template "revision" .}}
  {{end}}
</ul>
{{else}}
<p class="text-wiki-muted">{{ t .Lang "page.no_revisions" }}</p>
{{end}}
{{end}}
